@use "./header.scss";
@use "./home.scss";
@use "./footer.scss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  color: #333;
}

body {
  font-family: "ten-mincho-text", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfbf4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
