@use "./variables.scss";
@import "variables"; // 変数ファイルのインポート

.itit_header {
  &_group {
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
    background-color: white;
    opacity: 0.9;
    display: flex;
    justify-content: space-between;
  }
  &_text {
    display: flex;
    @include pc {
      gap: 80px;
    }
  }
  &_title {
    display: flex;
    align-items: center;
    margin-left: 32px;
    font-size: 32px;
    @include sp {
      font-size: 20px;
      margin-left: 16px;
    }
  }
  &_p-group {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }
  &_p {
    @include sp {
      display: none;
    }
    @include pc {
      display: block;
    }
    margin-right: 20px;
    font-size: 18px;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: 1px;
    }
  }
  &_pages-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    @include pc {
      width: 180px;
      background-color: #e2734b;
    }
    @include sp {
      width: 140px;
    }
  }
  &_pages {
    display: flex;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    @include pc {
      font-size: 20px;
    }
    text-decoration: underline;
    text-decoration-thickness: 1px;
    @include sp {
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
    }
  }
  &_pages_arrow {
    width: 18px;
    height: 18px;
    margin: 6px;
  }
}

ul {
  list-style: none;
}
